@model SportingEventsApp.Models.Evento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalParticipantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalParticipantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>

<div name="ListaAtletas" class = "row">
    <div class = "col-sm-3"></div>
    <div class = "col-sm-6">
        @Html.Partial("_ListaAtletas.cshtml")
    </div>
    <div class = "col-sm-3"></div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
